:root {
    --bg-color: #232830;
    --pink: #ff7575;
    --aqua: #4699e0;
    --grey: #909099;
    --text-color: #0F1217;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--pink) !important;
}

li {
    list-style: none;
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins';
}

.container {
    max-width: 1236px;
    margin: 0 auto;
}

.border-rdu {
    border-radius: 22px;
}

.list a {
    font-style: italic;
    color: var(--grey);
    font-family: 'Recursive';
}

h1 {
    color: var(--pink) !important;
    font-family: 'Recursive';
    font-size: 70px;
    font-style: italic;
}

.bg-aqua {
    background-color: var(--aqua);
    border-radius: 5px;
    padding: 5px 10px;
}

/* header */
header {
    padding: 50px 0;
}

.writing * {
    color: white;

}

.writing p {
    font-size: 30px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.des-writing {
    color: white;
    font-size: 30px;
}

.des-writing,
.des-menu {
    width: fit-content;
}

.des-menu {
    display: flex;
    gap: 30px;
}

.des-menu a {
    font-size: 25px;
}

.header-title {
    text-align: center;
    margin-top: 100px;
}

.header-title h1 {
    margin: 25px 0 10px 0;
}

/* menu */
main {
    border-top: 3px solid #4d4d4d;
    border-bottom: 3px solid #4d4d4d;
    padding: 40px 0 70px 0;
}

.menu {
    display: flex;
}

.menu a {
    color: var(--grey);
    font-size: 27px;
    font-style: italic;
    font-family: "Recursive";
}

.menu .menu-list {
    display: flex;
    gap: 30px;
}


.menu .filter {
    margin-right: 50px;
    gap: 15px;
    display: flex;
}

.menu-list li:last-child a {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}

.content .main {
    margin-top: 100px;
}

.grid-blog {
    background-color: white;
    padding: 25px;
    color: var(--text-color);
    display: grid;
    gap: 20px;
    grid-template-rows: auto 1fr auto;
}

.grid-blog h2 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 15px;
}

.grid-blog p {
    font-size: 16px;
}

.grid-blog img {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
}

.grid-blog .times span {
    margin: 0 30px;
    font-size: 30px;
}

.list {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.list ul {
    display: flex;
    gap: 20px;
}

.list a {
    font-size: 25px;
    font-style: italic;
}

.active {
    position: relative;

}

.active a {
    color: var(--pink) !important;
}

.active::after {
    content: "";
    position: absolute;
    top: -15px;
    width: 100%;
    height: 3px;
    background-color: var(--pink);
    right: 50%;
    transform: translateX(50%);
}

.list .number {
    width: 50px;
    height: 50px;
}

.list li {
    min-width: 50px;
    min-height: 50px;
    text-align: center;
}

/* footer
 */
.infor {
    padding: 40px 0 150px 0;
    align-items: center;
}

.infor p {
    color: white;
    font-size: 19px;
}

.infor .des-writing {
    font-size: 30px;
}

.creater {
    display: flex;
    align-items: center;
    gap: 20px;
}

.twitter p {
    font-weight: 600;
}